@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
	font-family: 'Inter', sans-serif;
}
button{
    cursor: pointer;
}

@theme {
  --color-primary: #ED990B;
  --color-primary2: #3BCBC8;
  --color-inputboxcolor: #DEDFE4 ;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-black01: #454F5B;

}


.main-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .main-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.label {
  display: block;
  color: #000000; 
  margin-bottom: 0.75rem; 
}
.input-field {
  width: 100%;
  border: 1px solid #C4CDD5;
  border-radius: 0.5rem; 
  padding-top: 0.625rem;  
  padding-bottom: 0.625rem;
  padding-left: 2.25rem;  
  padding-right: 0.75rem; 
  font-size: 0.875rem;   
  outline: none;
  transition: all 0.2s ease-in-out;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
  width: 100%;
  height: 232px;
}
/* .loader {
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
} */
 .loader {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

