@import "tailwindcss";



body {
	font-family: 'Inter', sans-serif;
}
button{
    cursor: pointer;
}

@theme {
  --color-primary: #ED990B;
  --color-primary2: #3BCBC8;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}